<html>
    <head>
        {% if title %}
        <title>{{ title }} - GRE</title>
        {% else %}
        <title>GRE</title>
        {% endif %}
    </head>
    <body>
    <div>
        GRE:
        <a href="{{ url_for('index') }}">主页</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">登录</a>
        {% else %}
        <a href="{{ url_for('logout') }}">登出</a>
        {% endif %}
    </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
