{% extends "base.html" %}
{% block head %}{% endblock %}
{% block content %}
<div class="page-header">
    <h1>你好, {{ current_user.username }}!</h1>
</div>
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">个人信息</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">明天的日程</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">一小时后的日程</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">闹钟提醒</a></li>
  </ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active in .fade" id="home">
        <table class="table table-striped table-bordered table-hover">
            <tbody>
        <tr>
            <td>你的学号是</td>
            <td>{{ current_user.userNumber }}</td>
        </tr>
        <tr>
            <td>你的邮箱是</td>
            <td>{{ current_user.email }}</td>
        </tr>
        <tr>
            <td>你的学院是</td>
            <td>计算机学院</td>
        </tr>
        <tr>
            <td>你的专业是</td>
            <td>网络工程</td>
        </tr>
            </tbody>
        </table>
    </div>

    <div role="tabpanel" class="tab-pane .fade" id="profile">
        <table class="table table-striped  table-bordered table-hover">
        <tr>
        <td>课程</td>
        {% for obj in tomorrow[0] %}
            <td>{{ obj }}</td>
        {% endfor %}
        </tr>
        <tr>
        <td>考试</td>
        {% for obj in tomorrow[1] %}
        <td>{{ obj }}</td>
        {% endfor %}
        </tr>
        <tr>
        <td>团体活动</td>
        {% for obj in tomorrow[2] %}
            <td>{{ obj }}</td>
        {% endfor %}
        </tr>
        <tr>
            <th>个人活动</th>
        {% for obj in tomorrow[3] %}
            <td>{{ obj }}</td>
        {% endfor %}
        </tr>
        <tr>
        <th>临时活动</th>
        {% for obj in tomorrow[4] %}
            <td>{{ obj }}</td>
        {% endfor %}
        </tr>
        </table>
  </div>


    <div role="tabpanel" class="tab-pane .fade" id="messages">
        <table class="table table-striped  table-bordered table-hover">
        <tr>
        <td>
        课程:
        {% for obj in after_hour[0] %}
            {{ obj }}
        {% endfor %}
        </td>
        </tr>
        <tr>
        <td>考试
        {% for obj in after_hour[1] %}
        {{ obj }}
        {% endfor %}
        </td>
        </tr>
        <tr>
        <td>团体活动:
        {% for obj in after_hour[2] %}
            {{ obj }}
        {% endfor %}
        </td>
        </tr>
        <tr>
        <td>个人活动
        {% for obj in after_hour[3] %}
            {{ obj }}
        {% endfor %}
        </td>
        </tr>
        <tr>
        <td>临时活动
        {% for obj in after_hour[4] %}
            {{ obj }}
        {% endfor %}
        </td>
        </tr>
        </table>
    </div>

    <div role="tabpanel" class="tab-pane .fade" id="settings">
        <table class="table table-striped  table-bordered table-hover">
        <tr>
        <td>闹钟提醒</td>
        {% for obj in clock %}
            <td>{{ obj }}</td>
        {% endfor %}
        </tr>
        </table>
    </div>
</div>

</div>


{% endblock %}
{% block js %}
    $('#myTabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
    $('#myTabs a[href="#profile"]').tab('show') // Select tab by name
    $('#myTabs a:first').tab('show') // Select first tab
    $('#myTabs a:last').tab('show') // Select last tab
    $('#myTabs li:eq(2) a').tab('show') // Select third tab (0-indexed)
{% endblock %}