


{% extends "base.html" %}

{% block content %}
    <table width="600" border="1">
        <tr>
            <td>团体活动名:</td>
            <td>{{ activity.name }}</td>
        </tr>
        <tr>
            <td>课程时间:</td>
            <td>
                <select>
                    {% for obj in time %}
                        <option>{{ obj }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>学生:</td>
            <td>
                <select>
                    {% for obj in students %}
                        <option>{{ obj }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>
{% endblock %}
