{% extends "base.html" %}

{% block content %}
    <body>
    <div>
        <form method="post" action="/Student/person_activity/list" class="form-inline">
            <div>
                <div class="form-group">
                <label for="search">查询个人活动:</label>
                <input type="text"  id="search" class="form-control" placeholder="" name="target">
                </div>
                <label>
                    <select name="sort_method" class="form-control">
                        <option value="0">--排序方式--</option>
                        <option value="0">名称</option>
                        <option value="1">时间</option>
                    </select>
                </label>
                <input class="btn btn-success" type="submit" value="查询">
            </div>
        </form>
    </div>
    <hr>
    <div>
        <table class="table table-striped  table-hover">
            <thead>
            <tr>
                <th>个人活动名</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in queryset %}
                <tr>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.begin_time }}</td>
                    <td>{{ obj.end_time }}</td>
                    <td>
                        <a class="btn btn-info btn-xs" href="/person_activity/{{ obj.name }}/info/"> 更多 </a>
                        <a class="btn btn-primary btn-xs" href="/person_activity/{{ obj.id }}/edit/"> 编辑</a>
                        <a class="btn btn-danger btn-xs" href="/person_activity/{{ obj.name }}/del/"> 删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </body>
{% endblock %}

