{% extends "base.html" %}

{% block content %}
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>课程名</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        {% for obj in queryset %}
          <tr>
            <th scope="row">{{ obj.id }}</th>
            <td>{{ obj.name }}</td>
            <td>{{ obj.begin_time }}</td>
            <td>{{ obj.end_time }}</td>
            <td>{{ obj.name }}</td>
            <td>
                <a href="/course/{{ obj.id }}/info/"> 更多 </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% endblock %}