

{% extends "teacher_base.html" %}

{% block content %}
    <table width="600" border="1">
        <tr>
            <td>课程名:</td>
            <td>{{ course.name }}</td>
        </tr>
        <tr>
            <td>课程id:</td>
            <td>{{ course.id }}</td>
        </tr>
        <tr>
            <td>课程时间:</td>
            <td>
                <select>
                    {% for obj in time %}
                        <option>{{ obj }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>学生:</td>
            <td>
                <select>
                    {% for obj in students %}
                        <option>{{ obj }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>考试:</td>
            <td>{{ test_time }}</td>
        </tr>
    </table>
{% endblock %}
