

{% extends "teacher_base.html" %}

{% block content %}
    <h1>老师,欢迎你!</h1>
    <table class="table table-striped table-bordered table-hover">
            <tbody>
        <tr>
            <td>你的姓名是</td>
            <td>XXX</td>
        </tr>
        <tr>
            <td>你的编号是</td>
            <td>000</td>
        </tr>
        <tr>
            <td>你的邮箱是</td>
            <td>teacher@bupt.edu.cn</td>
        </tr>
        <tr>
            <td>你的学院是</td>
            <td>计算机学院</td>
        </tr>
            </tbody>
        </table>
{% endblock %}